body {background-color: #0b0a0e;}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 39px;
    color: rgb(120, 149, 222);
    margin-bottom: 0px;
    padding: 0px;
}
.bottom-line { 
    border-bottom: 3px solid rgb(120, 149, 222); 
    margin: 0.1px;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color:rgb(255, 255, 255);
    margin-top: 2px;
    padding: 2px;
}

.item {
    width: 49.5%;
    float: left;
}
.item2 {
    width: 49.5%;
    float: right;
}


#avatar img {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    max-width: 100%;
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(0, 70px) 70px;
    column-gap: 10px;
    background-color: rgb(30, 40, 46);
    border: 1px solid rgb(120, 149, 222); 
    max-height: 70px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: rgb(4, 4, 4);
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgb(120, 149, 222);
    margin-bottom: 0px;
    padding: 0px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: rgb(255, 255, 255);
    padding: 0px;
    margin-top: 0px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    padding: 0px;
}

.center {
    margin: auto auto;
}